:root {
  --background-1: #849D8F;
  --background-2: #8996A6;
  --background-3: #9D8B84;
  --semitransparent-white: rgba(255, 255, 255, 0.2);
  --background-modal:#F8F7F4;
  --background-chocolate: #57321E;
  --background-raspberry: #850015;
  --background-waffle:#EFE4CE;
  --background-contact-info:#FEFEFE;

  --basic-white: #FFFFFF;
  --black-text: #323232;
  --dark-text: #5A5A5A;
  --placeholder-color:#999999;
  --text-shadow-price: rgba(49, 50, 53, 0.5);
  --text-shadow-button: rgba(160, 32, 11, 0.76);

  --nav-item-hover: #FBDED7;
  --nav-item-active: #F6B5A5;
  --nav-item-current:#D07058;
  --main-menu-hover-bg: #EDEDED;
  --main-menu-hover-shadow: #696969;

  --link-normal-underline: rgba(255, 255, 255, 0.3);
  --link-hover:#FFBC9E;
  --link-hover-underline:rgba(255, 188, 158, 0.3);
  --dark-link-underline: rgba(50, 50, 50, 0.3);
  --dark-link-hover: #E84D37;
  --dark-link-hover-underline: rgba(232, 77, 55, 0.3);

  --button-normal-bg: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-hover-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-active-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-normal-shadow:rgba(172, 16, 0, 0.64);
  --button-hover-shadow: #AC1000;
  --button-active-shadow:#942718;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--background-1);
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation__list {
  list-style: none;
}

.site-navigation__link {
  color: var(--basic-white);
  font-weight: bold;
  line-height: 18px;
  text-decoration-color: var(--semitransparent-white);
}

.site-navigation__link:hover {
  color: var(--black-text);
  background-color: var(--basic-white);
  text-decoration: none;
}

.site-navigation__link:active {
  background-color: var(--main-menu-hover-bg);
  box-shadow: inset 0px 2px 1px var(--main-menu-hover-shadow);
}

.submenu {
  background-color: var(--basic-white);
}

.submenu__link {
  color: var(--black-text);
  text-decoration: none;
}

.submenu__link--new-goods {
  font-weight: bold;
}

.submenu__link:hover {
  background-color: var(--nav-item-hover);
}

.submenu__link:active {
  background-color: var(--nav-item-active);
}

.submenu__link--current {
  color: var(--basic-white);
  background-color: var(--nav-item-current);
}

.user-navigation__search-button {
  background-color: var(--semitransparent-white);
  border: none;
  /* Временно */
  width: 32px;
  height: 32px;
}

.user-navigation__search-button:hover {
  background-color: var(--basic-white);
}

.user-navigation__list {
  list-style: none;
}

.user-navigation__link {
  color: var(--basic-white);
  background-color: var(--semitransparent-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.user-navigation__link:hover,
.user-navigation__link:active {
  color: var(--dark-text);
  background-color: var(--basic-white);
}

.contacts__working-time {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.contacts__telephone {
  text-decoration: none;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.slider__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider__list {
  list-style: none;
}

.button {
  color: var(--basic-white);
  background: var(--button-normal-bg);
  box-shadow: 0px 2px 2px var(--button-normal-shadow);
  text-decoration: none;
  border: none;
}

.button:hover {
  background: var(--button-hover-bg);
  box-shadow: 0px 2px 2px var(--button-hover-shadow);
}

.button:active {
  background: var(--button-active-bg);
  box-shadow: 0px 2px 2px var(--button-active-shadow);
}

.promo__link {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px var(--text-shadow-button);
}

.banners__list {
  list-style: none;
}

.banner__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banner__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banner--raspberry {
  background-color: var(--background-raspberry);
}

.banner--chocolate {
  background-color: var(--background-chocolate);
}

.banner__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.hits__list {
  list-style: none;
}

.product-card__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--text-shadow-price);
}

.product-card__units {
  font-size: 30px;
  line-height: 35px;
}

.link {
  color: var(--basic-white);
  text-decoration-color: var(--link-normal-underline);
}

.link:hover,
.link:active {
  color: var(--link-hover);
  text-decoration-color: var(--link-hover-underline);
}

.product-card__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product-card__quick-view {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages {
  color: var(--black-text);
  background-color: var(--background-waffle)
}

.advantages__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages__list {
  list-style: none;
}

.article {
  color: var(--black-text);
  background-color: var(--basic-white);
}

.article__header {
  font-weight: 500;
}

.article__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.link--dark {
  color: var(--black-text);
  text-decoration-color: var(--dark-link-underline);
}

.link--dark:hover,
.link--dark:active {
  color: var(--dark-link-hover);
  text-decoration-color: var(--dark-link-hover-underline);
}

.subscription {
  color: var(--dark-text);
  background-color: var(--background-modal);
}

.contact-info {
  color: var(--black-text);
  background-color: var(--background-contact-info);
}

.contact-info__text {
  font-size: 14px;
  line-height: 20px;
}

.contact-info__address,
.contact-info__telephone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contact-info__address {
  font-style: normal;
}

.contact-info__telephone {
  color: var(--black-text);
  text-decoration: none;
}

.contact-info__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px var(--text-shadow-button);
}

